<div>

  <form [formGroup]="accountForm" novalidate ngxsForm="forms.accountForm">
    <div>
      Firstname:
      <div>
        <input type="text" formControlName="firstname"/>
      </div>
    </div>
    <div>
      Lastname:
      <div>
        <input type="text" formControlName="lastname"/>
      </div>
    </div>
    <div>
      Email:
      <div>
        <input type="text" formControlName="email"/>
      </div>
    </div>
    <div>
      <div>
        <input type="checkbox" formControlName="create_account"> Create account
      </div>
    </div>
    <div>
      Password:
      <div>
        <input type="text" formControlName="password"/>
      </div>
    </div>
  </form>

</div>